.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 0px;
  /*width: 300px;*/
  /*transform: rotateX(80deg);*/
  /*transform: rotateY(70deg);*/
  /*transform: rotateZ(90deg);*/
  /*transform: transform(30px);*/
  /*transform: translateY(30px);*/
  /*transform: scale3d(2,2,2);*/
  /*opacity: .6;*/
}

.table1 {
  display: none;
}
.table2 {
  display: none;
}
.table3 {
  display: none;
}
.arrowPad {
  margin-top: 20px;
}
.arrowPad > tbody > tr > td {
  background: darkgrey;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  width: 40px;
  height: 40px;
}
/*.arrowPadMid {
  border: none !important;
}*/
.tableCol {
  margin: 0px;
  padding: 0px;
}
td {
  background-color: rgb(68, 122, 68);
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  border-top: 4px solid lightgray;
  border-left: 4px solid lightgray;
}
.cell {
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.clicked {
  background-color: grey;
  border: 4px solid darkgrey !important;
}
p {
  margin-left: 31%;
}
.bomb.clicked {
  color: rgb(216, 0, 0) !important;
  font-size: 30px;
  padding: 0px;
}
.hidden {
  visibility: hidden;
}
